/* Work sans fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* Shared Styles */
* {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0px;
}
.btn-primary {
  display: inline-flex;
  padding: 15px 30px;
  gap: 10px;
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  margin-right: 15px;
  margin-top: 10px;
}
.go-rogue-button {
  padding: 15px 30px;
  gap: 10px;
  border-radius: 3rem;
  background: #4ec5f7;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}
/* Nav styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  padding: 40px;
}
.menu-icon {
  padding-left: 140px;
}
.menu-icon img,
h2 {
  display: inline;
}
.menu-icon h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.menu-icon img {
  width: 5rem;
  height: 2.5rem;
  margin-bottom: -8px;
}
li {
  display: inline;
}
li a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}
.menu-items {
  color: #3c354f;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding-right: 150px;
}
.follow-us-on {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 13px;
  color: #3c354f;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
#g {
  color: #ff42a5;
}
/* Goat Section Styles */
.goat-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 50px;
}
.goat-container {
  background-image: url(../images/Group\ 14.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
.goat-title {
  color: #0b0223;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.goat-headline {
  text-align: left;
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat-description {
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}
.goat-img-container img {
  width: 100%;
  height: 400px;
}

/* Games card styles */
.card-section {
  margin-bottom: 50px;
}
.games-card-title {
  color: #0b0223;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.funny-videos {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 2.5rem;
  font-weight: 700;
}
.games-card-description {
  text-align: center;
  color: #534c64;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
}
.cards-img-container {
  display: flex;
  gap: 10px;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.cards-img-container img {
  width: 250px;
  height: 300px;
}
.card-description {
  text-align: center;
  color: #534c64;
  font-size: 1rem;
  font-weight: 300;
}
/* Play Instantly Section */
.play-instantly-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.play-instantly-container {
  margin-top: -100px;
}
.play-instantly-img-container img {
  width: 500px;
  height: 500px;
}

.play-instantly-title {
  text-align: right;
  font-size: 2.8rem;
  font-weight: 600;
  padding-right: 30px;
}
#play {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-instantly-description {
  color: #534c64;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
  padding-right: 30px;
  margin-top: 20px;
}
.mini-cartoon img {
  width: 180px;
  height: 200px;
  margin-top: -180px;
  margin-left: -70px;
}

/*.......... Responsive Styles................ */
/* Mobile Devices */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    max-width: 100%;
    align-items: start;
  }
  .menu-icon {
    padding: 0;
    margin-right: 20px;
  }
  li {
    display: block;
    margin-top: 20px;
    gap: 50px;
  }
  .follow-us-on {
    display: inline;
    padding: 12px 16px 12px 16px;
    font-size: 0.5rem;
    font-weight: 600px;
    margin-right: -10px;
  }
  .follow-us-on img {
    height: 40px;
    width: 40px;
  }
  /* G.O.A.T Section styles */
  .goat-section {
    flex-direction: column;
  }
  .goat-container {
    padding: 65px;
  }
  .goat-title {
    font-size: 2rem;
  }
  .goat-description {
    margin-top: 20px;
    font-size: 0.8rem;
  }
  .btn-primary {
    margin-right: 10px;
  }
  .goat-img-container img {
    width: 100%;
  }
  /* Cards Section styles */
  .cards-img-container {
    flex-direction: column;
  }
  .games-card-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 30px;
  }
  .games-card-description {
    text-align: center;
    color: #534c64;
    font-size: 0.8rem;
    font-weight: 300;
  }
  .card-description {
    text-align: left;
    color: #534c64;
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .play-instantly-section {
    flex-direction: column;
  }
  .play-instantly-container {
    margin-top: 0px;
  }
  .play-instantly-title {
    text-align: center;
    font-size: 2rem;
  }
  .play-instantly-img-container img {
    width: 300px;
    height: auto;
    
  }
  .play-instantly-img-container {
    margin-left: 140px;
    margin-right: 100px;
  }
  .mini-cartoon img {
    width: 100px;
    height: 130px;
    margin-top: -150px;
    margin-left: -50px;;
    
  }
}

/* Medium devices or Tablets Styles */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
  }
  .menu-icon {
    padding-left: 0px;
  }
  .menu-items {
    padding-right: 0;
    margin-top: 30px;
  }
  /* Goat Styles */
  .goat-img-container img {
    width: 100%;
  }
  .goat-section {
    flex-direction: column;
  }
  .cards-img-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
  }
  .cards-img-description {
    margin-bottom: 10px;
  }
  .play-instantly-section {
    flex-direction: column;
  }
  .play-instantly-container {
    margin-top: 0px;
  }
  .play-instantly-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
  }
}
